<p> Hello, <%= @owner.full_name %>. </p>
<br>
<p> This is to notify you that your payment for your reservation in <%= @club_name %> on the <%= @reservation.date %> couldn't be processed. There could be many reasons for this. </p>
<p> We didn't charge you <%= @bill.amount %>. </p>
<br>
<p> Please visit this <%= link_to "link", pay_with_split_reservation_url(@reservation, token: @reservation.token) %> if you want to try again. </p>
