  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '<%= ENV["FB_ID"] %>',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $(".send-dialog").on("click", function(){
        if (navigator.userAgent.indexOf("Mobi") > -1){
          FB.ui({
            method: 'share',
            href: $(this).attr("value"),
          }, function(response){});
        } else {
          FB.ui({
            method: 'send',
            link: $(this).attr("value"),
          });
        }
      });
    });
  <% end %>
<% end %>


Owner of:
<br>
<% @owner_of.each do |res| %>
  Reservation in: <%= res.tables.first.club.name %>
  Capacity: <%= res.capacity %>
  <br>
  Date: <%= res.date %>
  <br>
  Tables:
  <% res.tables.each do |tab| %>
    <%= tab.id %>,
  <% end %>
  <br>
  Participants:
  <% res.participants.each do |par| %>
    <%= par.full_name %>
    <% if par.photo? %>
      <%= cl_image_tag par.photo.path, width: 50, height: 60, crop: :fill %>
    <% end %>
    <br>
  <% end %>
  <br>
  <br>
  Comments:
  <br>
  <% res.comments.each do |com| %>
  <br>
  <br>
    <% if com.user.photo? %>
      <%= cl_image_tag com.user.photo.path, width: 10, height: 15, crop: :fill %>
    <% end %>
    <%= com.user.full_name %> at datetime: <%= com.datetime %>
    <%= com.information %>
  <br>
  <%= link_to "edit", edit_reservation_comment_path(res, com)  %>
  <%= link_to "delete", reservation_comment_path(res, com), method: :delete  %>

  <% end %>
  <br>
  <br>
  <br>
  Add Comment:
  <br>
  <br>
  <form action="<%= reservation_comments_path(res) %>" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <%= text_field_tag "Your Comment" %>
  <%= submit_tag "Leave a comment" %>
  </form>
  <br>
  <br>
  <%= link_to "cancel reservation", cancel_reservation_path(res)  %>
  <br>
  <%= link_to "rate club", new_reservation_rating_path(res)  %>
  <br>
  <br>

  <button class="send-dialog" value="<%= invited_friends_reservation_url(res)%>"> Share on facebook </button>

  <br>
  <br>
<% end %>
<br>
Participant in:
<br>
<% @participant_in.each do |res| %>
  Reservation in: <%= res.tables.first.club.name %>
  Capacity: <%= res.capacity %>
  <br>
  Date: <%= res.date %>
  <br>
  Tables:
  <% res.tables.each do |tab| %>
    <%= tab.id %>,
  <% end %>
  <br>
  Reservation owner: <%= res.reservation_owner.full_name %>
  <br>
  Participants:
  <% res.participants.each do |par| %>
    <%= par.full_name %>
    <% if par.photo? %>
      <%= cl_image_tag par.photo.path, width: 50, height: 60, crop: :fill %>
    <% end %>
    <br>
  <% end %>
    <br>
  <br>
  Comments:
  <br>
  <% res.comments.each do |com| %>
  <br>
  <br>
    <% if com.user.photo? %>
      <%= cl_image_tag com.user.photo.path, width: 10, height: 15, crop: :fill %>
    <% end %>
    <%= com.user.full_name %> at datetime: <%= com.datetime %>
    <%= com.information %>
  <br>
  <%= link_to "edit", edit_reservation_comment_path(res, com)  %>
  <%= link_to "delete", reservation_comment_path(res, com), method: :delete  %>

  <% end %>
  <br>
  <br>
  <br>
  Add Comment:
  <br>
  <br>
  <form action="<%= reservation_comments_path(res) %>" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <%= text_field_tag "Your Comment" %>
  <%= submit_tag "Leave a comment" %>
  </form>
  <br>
  <br>
  <%= link_to "leave reservation", leave_reservation_path(res)  %>
  <br>
  <%= link_to "rate club", new_reservation_rating_path(res)  %>
  <br>
  <br>
  <button class="send-dialog" value="<%= invited_friends_reservation_url(res)%>"> Share on facebook </button>
  <br>
  <br>
<% end %>
